build/
build-*/
**/build/
**/build-*/
**/fate-suite/
src/
**/src/
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
__pycache__/
*.py[cod]
venv-*/
**/venv-*/
uv-cache/
**/uv-cache/
skimage-cache/
**/skimage-cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
